
<div class="contenedorPrincipal">
    <div class="module-header">
        <div class="left">
            <h1>{{formTitulo}}</h1>
        </div>
    </div>
    <hr />
    <div class="form-container">
        <form class="form" [formGroup]="ciudadForm">
            <!--
            <mat-form-field appearance="outline">
                <mat-label>Id</mat-label>
                <input matInput name="id" formControlName="id" />
            </mat-form-field>
            -->
            <mat-form-field appearance="outline">
                <mat-label>Descripcion</mat-label>
                <input matInput name="nombres" formControlName="nombres" />
            </mat-form-field>
        </form>
        <div class="btnGuardar">
            <button mat-raised-button color="primary" (click)="guardarCiudad()">Guardar</button>
        </div>
    </div>
</div>