<body>
    <mat-card class="example-card">
        <mat-card-header>         
          <mat-card-title>Nombre Empresa</mat-card-title>        
        </mat-card-header>
        <div class="contenedor-imagenes">
          <div class="contenedor-img-principal">
          <img class="img-principal" mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
          </div>
          <div class="contenedor-img-peque">
           
            
            <img class="img-peque" mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            <img class="img-peque" mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            
           
            <img class="img-peque" mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            <img class="img-peque" mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            </div>
            
        </div>
        <div class="contenido">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
          <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="grade"></mat-icon>
          <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="grade"></mat-icon>
          <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="grade"></mat-icon>
          <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="grade"></mat-icon>
          <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="grade"></mat-icon>
          
        </mat-card-content>
        <mat-card-actions>
          <button mat-stroked-button>RESERVAR</button>          
        </mat-card-actions>
      </div>

      </mat-card>
</body>