<p>rol-detalles works!</p>
<p>{{rolId}}</p>
<body>  
    <h1>Editar Rol</h1>
    <mat-card class="contenedor">
        <mat-card-content>
            <div class="form">            
                <mat-form-field class="full-width">
                    <mat-label>Descripción</mat-label>
                    <input matInput type="text" #txtdescripcion [(ngModel)]="descripcion">            
                </mat-form-field> 
                <mat-checkbox #activo class="example-margin" [(ngModel)]="activo">Activo</mat-checkbox>
            </div>
        </mat-card-content>
        <mat-card-actions class="btn">
         
          <button mat-raised-button (click)="actualizarRol(activo.checked,txtdescripcion)">Actualizar</button>    
        </mat-card-actions>
    </mat-card>
      <br>
    </body>