<div class="hero-img"></div>
<body>
    <div class="contenedor">
    <h1>El Rincon Del Turismo</h1>
    <form class="example-form buscador">
        <mat-form-field class="example-full-width">
          <mat-label>Entrada</mat-label>
          <input matInput placeholder="Ex. Pizza" value="">
        </mat-form-field> 
        <mat-form-field class="example-full-width">
            <mat-label>Entrada</mat-label>
            <input matInput placeholder="Ex. Pizza" value="">
        </mat-form-field> 
        <mat-form-field class="example-full-width">
            <mat-label>Entrada</mat-label>
            <input matInput placeholder="Ex. Pizza" value="">
        </mat-form-field> 
        <button class="btn-buscar" (click)="irServicios()" mat-raised-button>BUSCAR</button>
    </form>
</div>
</body>